.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.content {
    border-radius: 111em;
    background: black;
    padding: 1em;
    font-family: Consolas, 'Courier New', Courier, monospace;
    color: white;
}
button {
    font-family: "Copperplate Gothic Bold", cursive;
    background-color: red;
    transition: font-size 4s, background-color 6s;
    
}
button:hover {
    font-size: 3em;
    background-color: blue;
}